<%- include("header") -%>

<h1>This is the about page</h1>
<p>I provided a completed simple app "To-Do-List" That's help you
    to arrange your priority using Express farmework with EJS Template
</p>

<%- include("footer") -%>